/* https://cloudninja.pw/docs/wofi.html */
window {
    border: 2px solid #323232;
    background-color: #2b2b2b; 
    color: #a9b7c6;
}

#input {
    border: 2px solid #323232;
    background-color: #2b2b2b; 
    color: #a9b7c6;
    font-size: 18px;
}

#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #a9b7c6;
}

#entry:selected {
    background-color: #323232;
    color: #a9b7c6;
}

#scroll label {
    margin: 2px 0px;
}
